.contact {
    position:relative;
    display: flex;
    justify-content: space-between;
}
.contact-bg {
   width:20px;
   height:100%;
   background-color:aqua;
   position: absolute;
}
.contact-wrapper {
    padding:50px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-right {
    padding:75px;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
