.pj {
    padding: 50px 100px;
      width: 100%;
    align-items:center;
    text-align: center;
  
  }
  .pj-title {
      font-size: 50px;
      font-weight:600;
  }
  .pj-desc {
      margin:20px 0px;
  
  }
  .p-lists {
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
  }
  .card {
      display: flex;
      flex-wrap: wrap;
      margin:20px 10px;
      border: 2px solid white;
      border-radius: 10px
  
  }
  
